/* ******************************** */
/* HEADER*/
/* ******************************** */

.header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 9.6rem;
  padding: 0 4.8rem;
}

.logo {
  height: 20rem;
  position: relative;
  left: 3rem;
}

.logo-container {
  position: absolute;
}

/* ******************************** */
/* EXPENDABLE BEHANDLINGER*/
/* ******************************** */

.expendable {
  --xy-padding: 14px;
  --border-radius: 6px;

  margin: 1em 0;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  display: grid;
  align-items: flex-start;
}

.expendable-open .expendable-content-wrapper {
  grid-template-rows: 1fr;
}

.expendable-title-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: var(--xy-padding);
  user-select: none;
  color: rgb(254, 220, 255);
  border-radius: var(--border-radius) var(--border-radius) 0 0;
  cursor: pointer;
}

.expendable-title {
  font-weight: bold;
}

.expendable-content {
  line-height: 1.4;
  font-size: 0.85em;
  border-radius: 0 0 var(--border-radius) var(--border-radius);
  overflow: hidden;
}

.expendable-content-wrapper {
  display: grid;
  grid-template-rows: 0fr;
  transition: grid-template-rows 0.3s ease-in-out;
}

.expend-nav-list {
  list-style: none;
}

/* ******************************** */
/* NAVIGATION*/
/* ******************************** */

.main-nav-list {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 3.2rem;
}

.main-nav-link:link,
.main-nav-link:visited {
  display: inline-block;
  text-decoration: none;
  color: rgb(126, 85, 97);
  font-weight: 500;
  font-size: 1.8rem;
  transition: all 0.3s;
}

.main-nav-link:hover,
.main-nav-link:active {
  color: #114825;
}

.main-nav-link.nav-cta:link,
.main-nav-link.nav-cta:visited {
  padding: 1.2rem 2.4rem;
  border-radius: 9px;
  color: #fff;
  background-color: #135029;
}

.main-nav-link.nav-cta:hover,
.main-nav-link.nav-cta:active {
  background-color: #114825;
}

/* ******************************** */
/* STICKY NAVIGATION*/
/* ******************************** */

.sticky .header {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 8rem;
  padding-top: 0;
  padding-bottom: 0;
  background-color: rgba(82, 81, 81, 0.438);
  z-index: 999;
  box-shadow: 0 1.2rem 3.2rem rgba(0, 0, 0, 0.03);
}

.sticky .section-natelier {
  margin-top: 9.6rem;
}

/* ******************************** */
/*  POP UP*/
/* ******************************** */
.pop-up {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid black;
  border-radius: 10px;
  background-color: #0f3f20;
  opacity: 0;
  transition: all 0.3s ease-in-out;
  z-index: -1;
  width: 600px;
  max-width: 80%;
  max-height: 80%;
}

.pop-up.open {
  opacity: 1;
  z-index: 999;
}

.pop-up-header {
  padding: 10px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid black;
}

.pop-up-body {
  padding: 5px 5px;
}

.pop-up-ok {
  display: flex;
  padding: 10px 15px;
  align-items: center;
  justify-content: center;
}

.pop-up-button {
  font-size: 2rem;
  font-weight: 600;
  color: white;
  padding: 10px 15px;
  background-color: #555;
  border: 1px solid black;
  border-radius: 15px;
}

.pop-up-h2 {
  font-size: 3rem;
  font-weight: bold;
  color: white;
  font-family: "Poppins", sans-serif;
  line-height: 1;
  font-weight: 500;
}

.pop-up-text {
  font-family: "Poppins", sans-serif;
  line-height: 1;
  font-weight: 500;
  font-size: 2rem;
  color: white;
}

.x-button {
  cursor: pointer;
  border: none;
  outline: none;
  background: none;
  font-size: 3rem;
  font-weight: bold;
}

#overlay {
  position: fixed;
  opacity: 0;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  pointer-events: none;
}

#overlay.active {
  opacity: 1;
  pointer-events: all;
}
/* ******************************** */
/* NATELIER SECTION*/
/* ******************************** */

.background-image {
  background-image: url(../images/bck.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}

.section-natelier {
  color: white;
  max-width: 130rem;
  margin: 24rem auto;
  padding: 12.8rem 3.2rem 3.2rem 0;
}

.natelier-description {
  font-size: 3rem;
  line-height: 1.6;
  margin-bottom: 4.8rem;
}

.step-description-list {
  list-style: circle;
  font-weight: 500;
  font-size: 1.4rem;
  column-count: 2;
}

/* ******************************** */
/* HOW IT WORKS SECTION*/
/* ******************************** */

.section-how {
  padding: 9.6rem 0;
}

.step-description {
  font-size: 1.8rem;
  line-height: 1.8;
}

.step-img-box {
  display: flex;
  align-items: center;
  justify-content: center;
}

.step-img {
  width: 80%;
}

/* ******************************** */
/* CTA SECTION*/
/* ******************************** */

.section-cta {
  padding: 9.6rem 0;
}

.cta {
  display: grid;
  grid-template-columns: 2fr 1fr;
  /* background-color: #cd9900; */
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.15);
  border-radius: 11px;

  background-image: linear-gradient(to right bottom, #d6c5d8, #dab0d7);
  overflow: hidden;
}

.cta-text-box {
  padding: 4.8rem 6.4rem 6.4rem 6.4rem;
  color: #0f3f20;
}

.cta .heading-secondary {
  color: #0f3f20;
  margin-bottom: 3.2rem;
}

.cta-text {
  font-size: 1.8rem;
  line-height: 1.8;
  margin-bottom: 4.8rem;
}

.cta-img-box {
  background-image:
    linear-gradient(
      to right bottom,
      hsla(300, 26%, 75%, 0.301),
      hsla(310, 41%, 74%, 0.301)
    ),
    url("../images/20210509_202908.jpg");
  background-size: cover;
  background-position: center;
}

.cta-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 3.2rem;
  row-gap: 2.4rem;
}

.cta-form label {
  display: block;
  font-size: 1.6rem;
  font-weight: 500;
  margin-bottom: 1.2rem;
}

.cta-form input,
.cta-form select {
  width: 100%;
  padding: 1.2rem;
  font-size: 1.8rem;
  font-family: inherit;
  color: inherit;
  border: none;
  background-color: #e7eeea;
  border-radius: 9px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.cta-form input::placeholder {
  color: #aaa;
}

.cta *:focus {
  outline: none;
  box-shadow: 0 0 0 0.8rem rgba(236, 203, 103, 0.432);
}

/* ******************************** */
/* MAP SECTION*/
/* ******************************** */

.section-map {
  background-color: black;
  padding: 4.8rem;
}

.map-box {
  align-items: center;
}

.map-heading,
.map-description {
  color: white;
  margin-bottom: 3.2rem;
}

.map-description {
  font-size: 1.8rem;
  line-height: 1.8;
}

.map {
  border-radius: 20px;
  border: none;
  width: 60rem;
  height: 40rem;
  opacity: 0.7;
  transition: 0.3s ease-in-out;
}

.map:hover {
  transform: scale(1.05);
  opacity: 1;
}

/* ******************************** */
/* FOOTER*/
/* ******************************** */

.footer {
  padding: 12.8rem 0;
  border-top: 1px solid #e4e4e4;
}

.grid--footer {
  grid-template-columns: 1.5fr 1.5fr 1fr 1fr 1fr;
}

.logo-col {
  display: flex;
  flex-direction: column;
}

.footer-logo {
  display: block;
  margin-bottom: 3.2rem;
}

.social-links {
  list-style: none;
  display: flex;
  gap: 2.4rem;
}

.social-icon {
  height: 2.4rem;
  width: 2.4rem;
}

.copyright {
  font-size: 1.4rem;
  line-height: 1.6;
  color: #767676;
  margin-top: auto;
}

.contacts {
  font-style: normal;
  font-size: 1.6rem;
  line-height: 1.6rem;
}

.adress {
  margin-bottom: 2.4rem;
}

.footer-heading {
  font-size: 1.8rem;
  font-weight: 500;
  margin-bottom: 4rem;
}

.footer-nav {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}

.footer-link:link,
.footer-link:visited {
  text-decoration: none;
  font-size: 1.6rem;
  color: #767676;
  transition: all 0.3s;
}

.footer-link:hover,
.footer-link:active {
  color: #555;
}

/* ******************************** */
/* ABOUT US*/
/* ******************************** */
.about-us-text {
  margin-bottom: 4rem;
}

/* ******************************** */
/* CENNIK*/
/* ******************************** */

.heading-secondary-cennik {
  font-weight: 700;
  color: #114825;
  letter-spacing: -0.5px;
  font-size: 3.2rem;
  line-height: 1.05;
  margin-bottom: 3.2rem;
  margin-top: 7.2rem;
}

/* ******************************** */
/* KOTAKT*/
/* ******************************** */

.kontakt-container {
  display: flex;
  margin-left: 2rem;
  align-items: center;
}

.kontakt-image {
  height: 50px;
  width: 50px;
  margin-right: 1rem;
}
.kontakt-link {
  text-decoration: none;
  cursor: pointer;
  color: #555;
}
