body {
  background-color: #c2b19c;
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.site {
  min-height: 100dvh;
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: minmax(0, 1fr);
}

.menu-tab {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: #ffffff36;
  gap: 100px;
  box-shadow: 40px 0 100px rgb(0, 0, 0), -40px 0 100px rgb(66, 66, 66);
}

.buttons-tab {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 40px;
  margin-top: 100px;
  max-width: 700px;
}

.logo-natalier {
  max-height: 550px;
  max-width: 550px;
}

h1 {
  text-align: center;
  margin-top: 50px;
}

.contact-button {
  font-size: 15px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  color: #f8ebd4;
  cursor: pointer;
}

.buttons-box {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #271a0a;
  padding: 1em 2em;
  border: none;
  border-radius: 20px;
  position: relative;
  width: 135px;
  transition: box-shadow 0.5s;
  font-size: 15px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  color: #f8ebd4;
  cursor: pointer;
}

.buttons-box:hover {
  box-shadow: 40px 0 100px rgba(218, 165, 32, 0.507),
    -40px 0 100px rgba(255, 217, 0, 0.445);
  cursor: pointer;
}

.categories-menu {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 100px;
  margin-top: 150px;
}

.categories-box {
  height: 400px;
  width: 210px;
  display: flex;
  flex-wrap: wrap;
  align-items: top;
  justify-content: center;
}

.categories-box p {
  font-size: 25px;
  font-weight: 500;
  margin: 0;
  margin-top: -30px;
  padding: 0;
  text-align: center;
  color: #271a0a;
}

.categories-photo {
  height: 200px;
  width: 200px;
  border-radius: 100px;
}

.categories-name {
  font-size: 30px;
  margin-left: 15px;
}

/* FOOTER @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */

.relative-footer {
  position: relative;
  margin-top: 150px;
}

.social-hub {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 80px;
  background-color: #ffffff36;
  margin-top: 100px;
  border-image: linear-gradient(
      to right,
      rgba(218, 165, 32, 0.747),
      rgba(255, 217, 0, 0.671)
    )
    1;
  box-shadow: 40px 0 100px rgba(218, 165, 32, 0.116),
    -40px 0 100px rgba(255, 217, 0, 0.158);
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.social-box {
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-icon {
  height: 70px;
  width: 70px;
}

.social-info {
  text-decoration: none;
  color: #271a0a;
}

/* POP UP @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */

.contact-popup {
  box-shadow: 2px 2px 5px 5px rgba(0, 0, 0, 0.15);
}

.contact-popup .overlay {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.7);
  z-index: 1;
  display: none;
}

.contact-popup.active .overlay {
  display: block;
}

.contact-popup .popup-info {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 16px;
  text-decoration: none;
  font-weight: 600;
  transform: translate(-50%, -50%) scale(0);
  background-color: #c2b19c;
  width: 380px;
  z-index: 2;
  border-radius: 10px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  padding: 20px 30px;
}

.contact-popup.active .popup-info {
  transition: all 300ms ease-in-out;
  transform: translate(-50%, -50%) scale(1.25);
}

.contact-popup .close-popup-button {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 30px;
  height: 30px;
  background-color: #271a0a;
  color: #c2b19c;
  text-align: center;
  line-height: 26px;
  border-radius: 15px;
  cursor: pointer;
}

.popup-info h2 {
  text-align: center;
  color: #271a0a;
  margin: 10px 0px 20px;
  font-size: 25px;
}

.popup-box {
  margin: 15px 15px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.popup-box a {
  text-decoration: none;
  color: #271a0a;
  padding: 14px 40px;
  background-color: #f8ebd4;
  margin-left: -38px;
  z-index: 1;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  width: 200px;
  text-align: center;
}

.popup-icon {
  height: 75px;
  width: 75px;
  z-index: 2;
}
